  #header{
        background-color: #7F3E7F;
      }
      #nav{
        	display: inline-block;
        	margin-right: 30px;
        	padding: 5px;
        }
      #nav li {
        list-style-type: none;
      }
      #nav a{
        text-decoration: none;
        color: white;
      }
     #content li{
       list-style-type: none;
     }
     #content h1{
       text-align: center;
     }
     #leftside{
       float: left;
       width: 50%;
       height: 100%;
       margin-bottom: 10%;
       margin-right: 
     }
     #rightside{
       float: right;
       width: 50%;
        height: 100%;
        margin-bottom: 10%;
     }
     #footer{
       clear: both;
     }