/*
#container
    #header
        img
    #mid
        #nav_bar
            ul
                ul
        #content
            h2
            p
    #footer
        p
*/
body{
    margin: 0px 0px 0px 0px;
    background-color: #D3E5DC;
}
#container{
    width: 100%;
}

#header{
    display: block; 
    position: fixed;
    background-color: #3B403D;
    color: #757F7A;
    

    height: 50px;
    width: 100% ;
    
}
.nav{
    float: left;
    display: inline-block;
    margin-right: 30px;
    padding: 5px;
}
.nav a{
    color: #EAFFF4;
    text-decoration: none;
}
.nav a:hover{
    color: #757F7A;
}

#mid{
  width:  75%;
   
    padding-top: 100px;
     display: inline-block;

}

#nav_bar{
   float: left;
   width: 20%;
   height: 100%;
   border-radius: 5px;
  background-color: #3B403D;
    color: #757F7A;
   margin: 1%
}
#nav_bar li{
    list-style: none;
}

#content{
    float:right;
    width: 70%;
    height: 80%;
     border-radius: 5px;
    margin-bottom: 10%;
     padding-bottom: 5%;
  
    position: relative;
}

#footer{
    width: 100%;
    background-color: #757F7A;
    position: fixed;
    bottom: 0;
    height: 40px;
    display: block;
    clear: both;
}
a{
    color: #3B403D;
    text-decoration: none;
}
a:hover{
    color: #757F7A;
}